body {
  padding: 0;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(229, 192, 192);
  font-size: 18px;
}

header {
  display: flex;
  border: 1px solid;
}
img {
  height: 120px;
  width: 100px;
  padding: 10px;
}
/*.head {
  
  padding: 10px;
} */
main {
  border: 1px solid;
  padding: 10px;
}
.end {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 1%;
}
address {
  padding-left: 50%;
}
