body {
  margin: 0;
  padding: 0;
  height: auto;
  min-width: 1200px;
  padding: 0;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
img {
  margin: 0;
  padding: 0;
  height: 120px;
  width: 100px;
  padding: 10px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
.head {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-left: none;
  border-right: none;
}

main {
  border: 1px solid;
  border-left: none;
  border-right: none;
  padding: 10px;
}
.end {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 1%;
}
address {
  font-style: normal;
}
