body {
  margin: 0;
  padding: 0;
  height: auto;
  min-width: 1200px;
  padding: 0;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.nav-item {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: space-around;
  list-style-type: none;
  background: rgba(233, 193, 193, 0.2);
  padding: 20px;
}
.nav-link {
  text-decoration: none;
  color: #000;
}
img {
  margin: 0;
  padding: 0;
  height: 120px;
  width: 100px;
  padding: 10px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
.head {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-left: none;
  border-right: none;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 400;
  font-size: 40px;
}
p {
  font-weight: 400;
  font-size: 24px;
}
main {
  border: 1px solid;
  border-left: none;
  border-right: none;
  padding: 10px;
}
.end {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 1%;
}
address {
  font-style: normal;
}
.skills-wrapper {
  font-weight: 400;
  font-size: 24px;
}
.code {
  background: rgba(80, 185, 31, 0.3);
  padding-top: 30px;
}
.project-cv {
  text-decoration: none;
  color: rgb(192, 9, 9);
  cursor: pointer;
}
.footer {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 26px;
}
